<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/styles.css">
  <link rel="stylesheet" href="/styles/mobile.css">
  <title>Service Ticket</title>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>
  <div id="header">
    <h2>Covid Watch Dashboard</h2>
  </div>
  <%- include('../partials/navlinks'); -%>
    <div class="container">
      <h1 class="red-center">Ticket Report</h1>
      <div class="ticket-report">


        <div class="bar-chart">
          <canvas id="bar-chart-ticket"></canvas>
        </div>




        <div class="box">
          <h2>
            <%= ticketReport.message %>
          </h2>
          <a href=" /admin/tickets/open" class="btn">Answer Tickets</a>
        </div>
      </div>

      <div class="ticket-graph">
        <div class="bar-chart">
          <canvas id="bar-chart-request"></canvas>
        </div>
        <div class="box">
          <h2>Possible COVID-19 Case</h2>
          <h1>
            <%= ticketReport.possibleCovid %>
          </h1>
        </div>
      </div>
      <div class="ticket-graph">
        <div class="bar-chart">
          <canvas id="bar-chart-possible-gender"></canvas>
        </div>
        <div class="box">
          <h2>Average age of possible COVID-19 Case</h2>
          <h1>
            <%= Math.round(possibleReport.averageAge) %> years old
          </h1>
        </div>
      </div>


      <h1 class="red-center">User Report</h1>
      <div class="user-report">
        <div class="bar-chart">
          <canvas id="bar-chart-gender"></canvas>
        </div>
        <div class="box">
          <h2>All Users</h2>
          <h3>
            <%= userReport.length %>
          </h3>
        </div>
      </div>
    </div>
    </div>

    <script>
      new Chart(document.getElementById("bar-chart-gender"), {
        type: 'bar',
        data: {
          labels: ["Male", "Female", "Others"],
          datasets: [
            {
              label: "Gender",
              backgroundColor: ["#3e95cd", "#c45850", "#3cba9f"],
              data: ['<%= userReport.male %>', '<%= userReport.female %>', '<%= userReport.others %>']
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'User Gender'
          },
          responsive: true,
          maintainAspectRatio: true
        }
      });
      new Chart(document.getElementById("bar-chart-ticket"), {
        type: 'bar',
        data: {
          labels: ["Open", "Closed"],
          datasets: [
            {
              label: "Tickets",
              backgroundColor: ["#3e95cd", "#c45850"],
              data: ['<%= ticketReport.open %>', '<%= ticketReport.closed %>']
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'User Gender'
          },
          responsive: true,
          maintainAspectRatio: true
        }
      });

      new Chart(document.getElementById("bar-chart-possible-gender"), {
        type: 'bar',
        data: {
          labels: ["Male", "Female", "Others"],
          datasets: [
            {
              label: "Gender of Possible COVID cases",
              backgroundColor: ["#3e95cd", "#c45850", "#3cba9f"],
              data: ['<%= possibleReport.male %>', '<%= possibleReport.female %>', '<%= possibleReport.others %>']
            }
          ]
        },
        options: {
          legend: { display: false },
          title: {
            display: true,
            text: 'User Gender'
          },
          responsive: true,
          maintainAspectRatio: true
        }
      });



      new Chart(document.getElementById("bar-chart-request"), {
        type: 'bar',
        data: {
          labels: ["General Inquiry", "Symptoms", "Medication", "Consultation", "Follow Up", "Others"],
          datasets: [
            {
              label: "Ticket Request Type",
              backgroundColor: ["#3e95cd", "#c45850", "#3cba9f", "#3b5a9f", "#3cb53f", "#6ff211"],
              data: ['<%= ticketReport.requestType.general %>', '<%= ticketReport.requestType.symptoms%>', '<%= ticketReport.requestType.medication %>', '<%= ticketReport.requestType.consultation %>', '<%= ticketReport.requestType.follow %>', '<%= ticketReport.requestType.others %>']
            }
          ]
        },
        options: {
          scales: {
            y: {
              beginAtZero: true
            }
          },
          legend: { display: false },
          title: {
            display: true,
          },
          responsive: true,
          maintainAspectRatio: true
        }
      });


    </script>
    <%- include('../partials/footer'); -%>
</body>

</html>